@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f4jrq');
  src:  url('../fonts/icomoon.eot?f4jrq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f4jrq') format('truetype'),
    url('../fonts/icomoon.woff?f4jrq') format('woff'),
    url('../fonts/icomoon.svg?f4jrq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drinks:before {
  content: "\e900";
}
.icon-starters:before {
  content: "\e901";
}
.icon-mainCourse:before {
  content: "\e902";
}
.icon-desserts:before {
  content: "\e903";
}
.icon-bread:before {
  content: "\e904";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-tumblr:before {
  content: "\eab9";
}
