<header class="headcol-2">
    <div>
        <a href="../index.html">
            <img class="mynd" src="../verkefni4-myndir/my-recipes.svg" alt="">
        </a>
    </div>
    <nav class="topnav">
        <ul class="topmenu">
            <li>
                <a class="anotherButton" href="../bread.html"><span class="icon-bread"></span> Bread</a>
            </li>
            <li>
                <a class="anotherButton" href="#"><span class="icon-starters"></span> Starters</a>
            </li>
            <li>
                <a class="anotherButton" href="#"><span class="icon-mainCourse"></span> Main courses</a>
            </li>
            <li>
                <a class="anotherButton" href="#"><span class="icon-desserts"></span> Desserts</a>
            </li>
            <li>
                <a class="anotherButton" href="#"><span class="icon-drinks"></span> Drinks</a>
            </li>
        </ul>
    </nav>
</header>